<div class="bg-white rounded-xl shadow mt-4 relative overflow-visible">
  <table class="min-w-full border-collapse text-center">
    <thead class="bg-gray-50 text-gray-600 text-xs">
      <tr class="text-center">
        <!-- Checkbox principal -->
        <!-- <th class="px-4 py-3 text-center">
          <input type="checkbox" class="accent-blue-600 cursor-pointer" [(ngModel)]="selectAll"
            (change)="toggleAllSelections()" />
        </th> -->

        <!-- Encabezados dinámicos -->
        <th *ngFor="let col of columns" class="px-4 py-3 font-semibold relative text-center capitalize">
          <div class="flex items-center justify-center gap-2">
            <span class="whitespace-normal break-words capitalize">{{ col.label }}</span>

            <button *ngIf="col?.filter"
              class="w-6 h-6 flex items-center justify-center rounded-full hover:bg-gray-200 transition"
              (click)="onFilter(col)" title="Filtrar {{ col.label }}">
              <i class="fa-solid fa-filter text-gray-400 text-xs"></i>
            </button>
          </div>

          <!-- Dropdown filtro -->
          <div *ngIf="col.filter && activeFilter === col.key"
            class="absolute z-10 bg-white border border-gray-200 rounded-md shadow-md mt-2 w-60 max-w-xs left-1/2 -translate-x-1/2">
            <div class="flex justify-between items-center px-3 py-2 border-b">
              <span class="text-sm font-semibold text-gray-700">Filtrar</span>
              <button (click)="closeFilter()" class="text-gray-400 hover:text-gray-600">
                <i class="fa-solid fa-xmark text-sm"></i>
              </button>
            </div>

            <ul class="max-h-64 overflow-auto">
              <li *ngFor="let value of getUniqueValues(col.key)" (click)="selectFilter(col.key, value)" [ngClass]="{
                  'bg-blue-100 text-blue-800 font-semibold': filters[col.key] === value,
                  'hover:bg-blue-50 text-gray-700': filters[col.key] !== value
                }"
                class="px-3 py-2 text-sm cursor-pointer break-words whitespace-normal leading-snug transition-colors duration-150 rounded-md">
                {{ value }}
              </li>
            </ul>

            <div class="border-t px-3 py-2 text-center">
              <button (click)="clearFilter(col.key)" class="text-xs text-blue-600 hover:underline font-medium">
                Limpiar filtro
              </button>
            </div>
          </div>
        </th>

        <!-- Columna Acciones -->
        <th *ngIf="showActions"
          class="px-4 py-3 text-center text-[14px] font-semibold text-gray-600 capitalize leading-tight">
          Acciones
        </th>
      </tr>
    </thead>

    <!--  Cuerpo de tabla -->
    <tbody>
      <tr *ngFor="let item of filteredData" class="border-t hover:bg-gray-50 transition text-center">
        
        <!-- <td class="px-4 py-3 text-center">
          <input type="checkbox" class="accent-blue-600 cursor-pointer" [(ngModel)]="item.selected"
            (change)="updateSelection(item)" />
        </td> -->

        <!-- Datos dinámicos -->
        <td *ngFor="let col of columns" class="px-4 py-3 text-sm text-gray-600 font-medium text-center align-middle">
          <ng-container [ngSwitch]="col.type">
            <span *ngSwitchCase="'date'">{{ formatDate(item[col.key]) }}</span>
            <span *ngSwitchCase="'currency'">{{ formatCurrency(item[col.key]) }}</span>

            <!-- Soporte -->
            <span *ngSwitchCase="'soporte'" class="flex flex-row items-center justify-center gap-2 leading-tight">
              <i class="fa-regular fa-file text-gray-400 text-base"></i>
              <a href="javascript:void(0);" (click)="openFile.emit(item)"
                class="text-black font-semibold break-words text-center">
                {{ item[col.key] }}
              </a>
              <span *ngIf="!item[col.key]" class="text-gray-400 italic text-xs">Sin archivo</span>
            </span>


            <!-- Valor genérico -->
            <span *ngSwitchDefault class="break-words whitespace-normal capitalize">
              {{ item[col.key] }}
            </span>
          </ng-container>
        </td>

        <td *ngIf="showActions" class="px-4 py-3 flex justify-center items-center gap-3 text-center align-middle">
          <button class="text-gray-500 hover:text-red-600 transition" (click)="onDelete(item)">
            <i class="fa-solid fa-trash text-lg"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>