<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-fussion"
  [fullScreen]="true"></ngx-spinner>

<div *ngIf="!IsAuthenticated(); else appLogin">
  <app-login></app-login>
  <router-outlet></router-outlet>
</div>

<ng-template #appLogin>
  <div *ngIf="!HavePermissions(); else Denied">
    <app-login></app-login>
    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #Denied>
  <div *ngIf="denied; else appContent">
    <app-access-denied></app-access-denied>
    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #appContent>
<div class="flex h-screen bg-white">
    <!-- Navbar en la parte superior (como antes) -->
    <!-- <div class="w-full">
      <app-navbar></app-navbar>
    </div> -->

    <!-- Contenido principal con sidebar fijo -->
    <div class="flex flex-1 overflow-hidden">
      <!-- Sidebar FIJO -->
      <div class="w-[252px] h-full">
        <div class="h-full flex flex-col overflow-hidden">
          <app-sidebar></app-sidebar>
        </div>
      </div>

      <!-- Área de contenido (CON scroll si es necesario) -->
      <div class="flex-1 p-6 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>



<app-loading></app-loading>