<div class="fixed w-full inset-0 flex items-center h-screen justify-center bg-white z-[1000]" *ngIf="isModalOpen">
  <div class="text-center">
    <div class="mt-5">
      <p class="text-lg font-medium">{{ mensaje }}</p>
    </div>

    <div class="mt-5 flex justify-center space-x-3">
      <button
        class="flex items-center justify-center w-60 sm:w-10 md:w-30 lg:w-60 px-8 py-2 border border-blue-600 text-secundario rounded-lg hover:bg-blue-100"
        (click)="cancelar()">
        <i class="mgc_close_line text-lg mr-2"></i> Cancelar
      </button>
      <button
        class="flex items-center justify-center w-60 sm:w-10 md:w-30 lg:w-60 px-8 py-2 bg-[#1651CF] text-white rounded-lg hover:bg-blue-700"
        (click)="confirmar()">
        <i class="mgc_check_line text-lg mr-2"></i> Confirmar
      </button>
    </div>
  </div>
</div>