<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-10 w-96 h-auto"> <!-- Aumenta el padding -->

        <!-- Logo de la Empresa -->
        <div class="flex justify-center mb-10">
            <img src="assets/img/logo_meico.png" alt="Logo de la Empresa" class="h-20 w-auto" />
        </div>

        <!-- Mensaje de Bienvenida -->
        <h4 class="font-semibold text-center mb-10">Bienvenido al proyecto semilla para apps de Meico</h4>

        <p class="text-center mb-10">Inicia sesión con tu cuenta de Microsoft</p>

        <button style="background-color: #003383;" (click)="Login()"
            class="flex items-center justify-center w-full px-4 py-2 text-white rounded-lg hover:bg-blue-700 transition duration-200">
            <img src="https://img.icons8.com/color/24/000000/microsoft.png" alt="Microsoft Logo" class="mr-2" />
           Login
        </button>
        </div>
        </div>
