<div class="screen-h p-5">

    <!-- Header superior: Botón regresar + Tabs -->
    <div class="flex flex-col sm:flex-row sm:items-end gap-6 mb-6 relative w-full">
        
        <!-- Botón regresar -->
        <div class="flex items-center border border-blue-600 rounded-md px-3 py-2 z-10 bg-white">
            <button class="flex items-center text-gray-600" (click)="goBack()">
                <i class="fa-solid fa-arrow-left mr-2"></i>
                Regresar
            </button>
        </div>

        <!-- Tabs navegación -->
        <div
            class="flex gap-6 text-gray-600 relative flex-1 after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:h-[1px] after:bg-gray-300">
            <button class="pb-2 border-b-2 relative z-10" [ngClass]="{
                  'border-[#1751cf] text-[#1751cf]': activeTab === 'detalle',
                  'border-transparent hover:text-[#1751cf]': activeTab !== 'detalle'
                }" (click)="activeTab = 'detalle'">
                Detalle guía
            </button>

            <button class="pb-2 border-b-2 relative z-10" [ngClass]="{
                  'border-[#1751cf] text-[#1751cf]': activeTab === 'consignaciones',
                  'border-transparent hover:text-[#1751cf]': activeTab !== 'consignaciones'
                }" (click)="activeTab = 'consignaciones'">
                Gestión Consignaciones
            </button>
        </div>
    </div>


    <!-- Contenido TAB: Detalle guía -->
    <div *ngIf="activeTab === 'detalle'" class="flex flex-col ">

        <!-- Header con título y acciones -->
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">

            <!-- Título y fecha -->
            <div class="flex flex-col">
                <h1 class="text-2xl sm:text-3xl font-bold">Guía N° {{ numeroGuia }}</h1>
                <span class="text-base sm:text-lg mt-1">
                    <span class="font-bold">Fecha de retorno:</span>
                    <span class="font-normal ml-1">{{ guia?.fecha_retorno | date:'MMM d, y' }}</span>
                </span>
            </div>

            <!-- Acciones: Buscador + Agregar consignación -->
            <div class="flex flex-col sm:flex-row items-stretch sm:items-center gap-3 w-full sm:w-auto">
                <!-- Buscador -->
                <div class="relative">
                    <input type="search" autocomplete="off" (input)="filterGuide()" [(ngModel)]="filter"
                        class="input-search" placeholder="Buscar por número de factura" />
                    <div class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
                        <i class="mgc_search_line text-xl text-[#7d7d7d]"></i>
                    </div>
                </div>
                <!-- Botón Agregar consignación -->
                <button
                    class="cubuttom flex items-center justify-center text-white px-4 py-2 rounded-lg hover:bg-[#0f3da6] transition w-full sm:w-auto"
                    (click)="addConsignacion()">
                    <i class="fa-solid fa-plus mr-2"></i>
                    Agregar consignación
                </button>
            </div>

        </div>

        <!-- Información de la guía -->
        <div class="guia-card shadow-sm">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6 w-full">
                <div>
                   <p class="text-sm font-semibold titulo-campo">Cant. Factura</p>
                    <p class="text-lg valor-campo">{{ guia?.cantidad_facturas || 0 }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Transportador</p>
                    <p class="text-lg valor-campo">{{ guia?.transportador || '—' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Estado</p>
                    <span
                        class="inline-flex items-center justify-center min-w-[90px] h-[22px] text-center transition-all duration-200 font-semibold px-2 py-[3px] text-xs shadow-sm rounded-full"
                        [ngClass]="{
      'bg-[#A4FF9A] text-gray-700':
        (guia?.estado || '').toLowerCase() === 'confirmada',
      'bg-[#FFF48E] text-gray-700':
        (guia?.estado || '').toLowerCase() === 'despachada',
      'bg-gray-200 text-gray-600':
        !['confirmada','despachada'].includes((guia?.estado || '').toLowerCase())
    }">
                        {{ (guia?.estado || '—') | titlecase }}
                    </span>
                </div>


                <div>
                   <p class="text-sm font-semibold titulo-campo">Bodega</p>
                    <p class="text-lg valor-campo">{{ guia?.bodega || '—' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Valor a recaudar</p>
                    <p class="text-lg valor-campo">{{ guia?.valor_a_recaudar | currency:'$':'symbol':'1.0-0' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Diferencia</p>
                    <p class="text-lg valor-campo">{{ guia?.diferencia | currency:'$ ':'symbol':'1.0-0' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Total recaudado</p>
                    <p class="text-lg valor-campo">{{ guia?.total_recaudado | currency:'$':'symbol':'1.0-0' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Recaudado consign.</p>
                    <p class="text-lg valor-campo">{{ guia?.recaudado_consignacion | currency:'$':'symbol':'1.0-0'
                        }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Recaudado QR</p>
                    <p class="text-lg valor-campo">{{ guia?.recaudado_qr | currency:'$':'symbol':'1.0-0' }}</p>
                </div>
                <div>
                   <p class="text-sm font-semibold titulo-campo">Fecha de retorno</p>
                    <p class="text-lg valor-campo">{{ guia?.fecha_retorno | date:'MMM d, y' }}</p>
                </div>
            </div>
        </div>

        <!-- Tabla y paginación -->
        <app-table-masters [columns]="columns" [data]="guides" [showActions]="true" (viewItem)="goToDetail($event)"
            (filterColumn)="onFilterColumn($event)">
        </app-table-masters>
        <app-pagination [totalItems]="totalItems" [currentPage]="currentPage" [perPage]="perPage"
            (pageChange)="loadGuides($event)" (perPageChange)="changePerPage($event)">
        </app-pagination>

    </div>

    <!-- TAB Consignaciones -->
    <div *ngIf="activeTab === 'consignaciones'">
        <app-consignaciones [numeroGuia]="numeroGuia"></app-consignaciones>
    </div>

</div>