<div class="screen-h p-5">

    <!-- Tabla -->
    <app-table-masters-select [columns]="columns" [data]="guides" [filterOptions]="groupFilters" [showActions]="true"
        (deleteItem)="OnDelete($event)" (viewItem)="goToDetail($event)" (openFile)="OpenArchivo($event)"
        (filterColumn)="onFilterColumn($event)">
    </app-table-masters-select>


    <!-- Paginación -->
    <app-pagination [totalItems]="totalItems" [currentPage]="currentPage" [perPage]="perPage"
        (pageChange)="loadGuides($event)" (perPageChange)="changePerPage($event)">
    </app-pagination>
</div>